<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="examples.springmvc.dao.UsersMapper">
	<resultMap type="user" id="user_result_map">
		<result column="user_id" property="userId" javaType="java.lang.String" />	
		<result column="join_date" property="joinDate" javaType="java.util.Date"/>
	</resultMap>
	<select id="getUsers" resultMap="user_result_map">
		SELECT user_id,name,password FROM users
	</select>
	
	<select id="getUser" resultMap="user_result_map" parameterType="string">
		SELECT user_id,name,password FROM users
		WHERE user_id=#{userId}
	</select>
	<insert id="addUser" parameterType="examples.springmvc.dto.User">
		INSERT INTO users(user_id,name,password,join_date) 
		VALUES (#{userId},#{name},#{password},CURRENT_TIMESTAMP())
	</insert>
</mapper>